
body {
  text-align: center;
  background-color: #970000;
  font-family: 'DotGothic16', sans-serif;
  color: #ffffff; 
}

pre {
  margin: 0;
  padding: 0;
}
#log {
  font-family: monospace;
  max-height: 200px;
  min-height: 200px;
  overflow: scroll;
  text-align: left;
  width: 512px;
  margin: auto;
  border: 9px solid #fffb00;
  padding: 5px;
}

#output {
  width: 512px;
  height: 480px;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.TheFuti {
  border: solid 3px #e5ff00;
  border: solid 17px #fff00;
}
.LogoBgImage {
  background-image: url(https://raw.githubusercontent.com/kaepi2022/Famicom-Emu/main/%E3%83%95%E3%82%A1%E3%83%9F%E3%82%B3%E3%83%B3%E3%82%A8%E3%83%9F%E3%83%A5%20%E3%81%BF%E3%81%AD%E3%82%AF%E3%83%A9/FamicomHeader.png)
}
.EnderLine {
  background-color: #970000;
}
